<form #form="ngForm">
  <h1>You can contact me via email.</h1>
  <input autofocus placeholder="Name" type="text" value="" [(ngModel)]="contactDetail.name" name="name" required>
  <input placeholder="Email address" type="email" value="" onblur="this.setAttribute('value', this.value);" [(ngModel)]="contactDetail.email"
    name="email" required>
    <span class="validation-text">Please enter a valid email address.</span>
    <div class="flex">
      <textarea placeholder="Message" value="" rows="1" [(ngModel)]="contactDetail.message" name="message" #message="ngModel" required></textarea>
    </div>
    <span *ngIf="message.errors && (message.dirty || message.touched)" class="validation-text">Message is required</span>
    <button [disabled]="!form.valid" (click)="sendMail()">Send</button>
</form>
<a href="https://github.com/danailvidev" target="_blank"><i class="material-icons">account_circle</i>GitHub</a>
