<form class="category">
  <md-select placeholder="Change Category" [(ngModel)]="category" name="category" (onClose)="changeCategory()">
    <md-option *ngFor="let category of categories" [value]="category.value" >
      {{category.viewValue}}
    </md-option>
  </md-select>

  <p> Selected category: {{category}} </p>
</form>
<button class="settings" md-button (click)="openSettingsDialog()">Settings</button>
<md-divider style="clear: both;"></md-divider>
<md-list class="items-list">
  <md-list-item *ngFor="let item of items">
    <img md-list-avatar *ngIf="item.data.thumbnail" src={{item.data.thumbnail}}>
    <h2 md-line> {{item.data.title}} </h2>
    <p md-line>
      <span><md-icon>thumb_up</md-icon> {{item.data.score}} </span>&nbsp;&nbsp;
      <span><md-icon>accessibility</md-icon> {{item.data.author}} </span>&nbsp;&nbsp;
      <span><md-icon>date_range</md-icon> {{item.data.created * 1000 | date }}</span>&nbsp;&nbsp;
      <span><md-icon>chat</md-icon> {{item.data.num_comments}}</span>&nbsp;&nbsp;
    </p>
    <a md-raised-button (click)="view(item.data)">View</a>
  </md-list-item>
</md-list>
<!--<br>
<h1>Your post activity:</h1>
<span>viewed: {{stats}}</span>
<span>commented: 0</span>
<span>liked: 0</span>
<span>created: 0</span>
<md-tab-group>
  <md-tab label="One">
    <h1>Some tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Two">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>-->