   @import '../config/sass/config';

   md-list.items-list md-icon {
     font-size: 18px;
     color: grey;
     width: 15px;
   }
   
   form.category {
     float: left;
   }
   
   button.settings {
     float: right;
     background-color: $accent-color;
     color: $primary-text-color;
   }
